<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Take Home Kata!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <br>
    <div class="container min-vh-100  align-content-center justify-content-center text-center">
        <form action="{{ url_for('home') }}">
            <h5>You scored {{ correct }} out of {{ quiz_size }}. Take another quiz?</h5><br>
            <button type="submit" class="btn btn-primary">New Quiz</button>
        </form>
        <br>
        <br>
        {% for question_dict in questions_list %}
          <h5>{{ question_dict["question"] }}</h5><br>
          {% for answer in question_dict["answers"] %}
              <p>{{ answer }}</p>
          {% endfor %}
          <br>
        {% endfor %}
    </div>
  </body>
</html>